    </div>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u 12u$(medium)">
							<h2>Who are we?</h2>
							<p>We are a group of four Stanford Computer Science Undergraduates who worked on this project for our CS194 senior project class. </p>
						</div>
						<div class="3u 6u(medium) 12u$(small)">
							<h3>Names</h3>
							<ul class="alt">
                <li>Yash Savani</li>
                <li>Matt Stevens</li>
                <li>Seokho Hong</li>
                <li>Brian Wai</li>
							</ul>
						</div>
						<div class="3u$ 6u$(medium) 12u$(small)">
							<h3>Contact</h3>
							<ul class="alt">
                <li>ysavani (at) stanford.edu</li>
                <li>mslf (at) stanford.edu</li>
                <li>seokho (at) stanford.edu</li>
                <li>brianwai (at) stanford.edu</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					&copy; Energy Portal. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
    <script type="text/javascript">
      var ind_mean = {{ ind_mean }};
      var comm_mean = {{ comm_mean }};
      var national_mean = {{ national_mean }};
      var ind_stddev = {{ ind_stddev }};
      var comm_stddev = {{ comm_stddev }};
      var national_stddev = {{ national_stddev }};
      var lat = {{ lat }};
      var lng = {{ lng }};
      var puma_id = '{{ puma_id }}';
    </script>
			<script src="static/assets/js/skel.min.js"></script>

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
      <script src="http://www.google.com/jsapi?ext.js"></script></script>
      <script src="static/assets/js/parsley.min.js"></script>
      <script src="static/assets/js/ext.js"></script>
      <script src="static/assets/js/main.js"></script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPVqwRrTaiUcZf59K-ln6ETnGo7lwHJtI&callback=initMap"
  type="text/javascript"></script>

	</body>
</html>
