{% include 'header.html' %}

		<!-- Banner -->
			<section id="banner">
        <img src="static/images/favicon.png">
        <h2>Energy Portal</h2>
        <p>How energy conscious are <strong>you</strong>?</p>
			</section>

		<!-- Main -->
			<div id="main" class="container">

				<!-- Intro -->
					<div class="row">
						<section class="6u 12u$(medium)">
							<h2>What is Energy Portal?</h2>
              <p><strong>Energy Portal</strong> provides an educational service to citizens, policy makers, and organizations who are interested in <em>energy consumption patterns</em> in the <strong>United States</strong>. We designed a model built with robust <strong>machine learning</strong> techniques that will show you how your energy consumption compares to others and how your community fits into the national patterns of energy consumption.</p>
						</section>
						<section class="6u$ 12u$(small)">
							<h3>How to use Energy Portal?</h3>
							Use Energy Portal in 3 easy steps.
              <ol>
                <li>Fill out the <a href="#form">Energy Form</a> below.</li>
                <li>Click on submit.</li>
                <li>Review your report page and see how you can improve your energy consumption footprint.</li>
              </ol>
						</section>
					</div>

				<hr class="major" />

				<!-- Form -->
        <div class="row">
          <div class="-3u 6u$ 12u(small)">
            <h2 id="form">Form</h2>

            <div class="bs-callout bs-callout-warning hidden">
              <h4>Oh snap!</h4>
              <p>This form seems to be invalid :(</p>
            </div>

            <div class="bs-callout bs-callout-info hidden">
              <h4>Yay!</h4>
              <p>Everything seems to be ok :)</p>
            </div>

            <form id="energy-form" method="post">
              <div class="uniform row">
                <div class="12u$">
                  <input type="text" class="form-control" name="fullname" value="" placeholder="Full Name" required="">
                </div>

                <div class="12u$">
                  <input type="email" class="form-control" name="email" value="" data-parseley-trigger="change" placeholder="Email" required="">
                </div>

                <div class="12u$">
                  <input type="text" class="form-control" name="agep" value="" data-parseley-trigger="change" placeholder="Age" required="">
                </div>

                <div class="12u$">
                  <input type="text" class="form-control dollar-input" name="intp" value="" data-parsley-range="[-9999, 999999]" data-parseley-trigger="change" placeholder="Interest, dividends, and net rental income (last year)">
                </div>

                <div class="12u$">
                  <input type="text" class="form-control dollar-input" name="wagp" value="" data-parsley-range="[0, 999999]" data-parseley-trigger="change" placeholder="Wages or salary income (last year)">
                </div>

                <div class="12u$">
                  <input type="text" class="form-control dollar-input" name="retp" value="" data-parsley-range="[0, 999999]" data-parseley-trigger="change" placeholder="Retirement income (last year)">
                </div>

                <div class="12u$">
                  <input type="text" class="form-control dollar-input" name="ssip" value="" data-parsley-range="[0, 999999]" data-parseley-trigger="change" placeholder="Supplementary Security Income (last year)">
                </div>

                <div class="12u$">
                  <input type="text" class="form-control dollar-input" name="elep" value="" data-parsley-range="[3, 999]" data-parseley-trigger="change" placeholder="Electricity (monthly cost)">
                </div>

                <div class="12u$">
                  <input type="text" class="form-control dollar-input" name="eler" value="" data-parsley-range="[0, 1]" data-parseley-trigger="change" placeholder="Electricity Rate (dollars/kWh)">
                </div>

                <div class="12u$">
                  <input type="text" class="form-control dollar-input" name="gasp" value="" data-parsley-range="[4, 999]" data-parseley-trigger="change" placeholder="Gas (monthly cost)">
                </div>

                <div class="12u$">
                  <input type="text" class="form-control dollar-input" name="fulp" value="" data-parsley-range="[3, 9999]" data-parseley-trigger="change" placeholder="Fuel cost (yearly cost for other fuels)">
                </div>

                <div class="12u$">
                  <input type="text" class="form-control" name="np" value="" data-parsley-range="[0, 20]" data-parseley-trigger="change" placeholder="Number of people living in your house.">
                </div>

                <div class="12u$">
                  <input type="text" class="form-control" name="bdsp" value="" data-parsley-range="[0, 99]" data-parseley-trigger="change" placeholder="Number of bedrooms in house">
                </div>

                <div class="12u$">
                  <input type="text" class="form-control" name="rmsp" value="" data-parsley-range="[0, 99]" data-parseley-trigger="change" placeholder="Number of rooms in house">
                </div>

                <div class="12u$">
                  <div class="select-wrapper">
                    <select name="ybl" id="ylb">
                      <option value="">- When was your house built -</option>
                      <option value="01">1939 or earlier</option>
                      <option value="02">1940 to 1949</option>
                      <option value="03">1950 to 1959</option>
                      <option value="04">1960 to 1969</option>
                      <option value="05">1970 to 1979</option>
                      <option value="06">1980 to 1989</option>
                      <option value="07">1990 to 1999</option>
                      <option value="08">2000 to 2004</option>
                      <option value="09">2005</option>
                      <option value="10">2006</option>
                      <option value="11">2007</option>
                      <option value="12">2008</option>
                      <option value="13">2009</option>
                      <option value="14">2010</option>
                      <option value="15">2011</option>
                      <option value="16">2012</option>
                      <option value="17">2013</option>
                      <option value="18">2014 or after</option>
                    </select>
                  </div>
                </div>

                <div class="12u$">
                  <div class="select-wrapper">
                    <select name="mv" id="mv">
                      <option value="">- When you moved into your house -</option>
                      <option value="1">12 months or less</option>
                      <option value="2">13 to 23 months</option>
                      <option value="3">2 to 4 years</option>
                      <option value="4">5 to 9 years</option>
                      <option value="5">10 to 19 years</option>
                      <option value="6">20 to 29 years</option>
                      <option value="7">30 years or more</option>
                    </select>
                  </div>
                </div>

                <div class="12u$">
                  <div class="select-wrapper">
                    <select name="rac1p" id="rac1p" required="">
                      <option value="">- Race -</option>
                      <option value="1">White alone</option>
                      <option value="2">Black or African American alone</option>
                      <option value="3">American Indian alone</option>
                      <option value="4">Alaska Native alone</option>
                      <option value="5">American Indian and Alaska Native</option>
                      <option value="6">Asian alone</option>
                      <option value="7">Native Hawaiian and Other Pacific Islander alone</option>
                      <option value="8">Some other race alone</option>
                      <option value="9">Two or more Races</option>
                    </select>
                  </div>
                </div>

                <div class="12u$">
                  <div class="select-wrapper">
                    <select name="fes" id="fes">
                      <option value="">- Family type and employment status -</option>
                      <option value="1">Married-couple family: Husband and wife in labor force</option>
                      <option value="2">Married-couple family: Husband in labor force, wife not in labor force</option>
                      <option value="3">Married-couple family: Husband not in labor force, wife in labor force</option>
                      <option value="4">Married-couple family: Neither husband nor wife in labor force</option>
                      <option value="5">Other family: Male householder, no wife present, in labor force</option>
                      <option value="6">Other family: Male householder, no wife present, not in labor force</option>
                      <option value="7">Other family: Female householder, no husband present, in labor force</option>
                      <option value="8">Other family: Female householder, no husband present, not in labor force</option>
                    </select>
                  </div>
                </div>

                <div class="12u$">
                  <h3>Where do you live?</h3>
                  <div id="map"></div>
                  <p>Latitude: <span id="lat_span"></span><input type="hidden" name="lat" value="" id="lat_val" readonly></br>
                  Longitude: <span id="lng_span"></span><input type="hidden" name="lng" value="" id="lng_val" readonly></p>
                </div>

                <div class="12u$">
                  <h3>Tick the following that are relevant to you.</h3>
                </div>

                <div class="12u$">
                  <input type="checkbox" id="dialup" name="own">
                  <label for="dialup">I have dial-up service</label>
                </div>
                <div class="12u$">
                  <input type="checkbox" id="fiberop" name="own">
                  <label for="fiberop">I have fiber-optic internet service</label>
                </div>
                <div class="12u$">
                  <input type="checkbox" id="satellite" name="own">
                  <label for="satellite">I have satellite internet service</label>
                </div>
                <div class="12u$">
                  <input type="checkbox" id="modem" name="own">
                  <label for="modem">I have cable internet service</label>
                </div>
                <div class="12u$">
                  <input type="checkbox" id="access" name="own">
                  <label for="access">I have access to the internet</label>
                </div>
                <div class="12u$">
                  <input type="checkbox" id="fs" name="own">
                  <label for="fs">I am a yearly food stamp recipient</label>
                </div>
                <div class="12u$">
                  <input type="checkbox" id="laptop" name="own">
                  <label for="laptop">I have a Laptop, desktop, or notebook computer</label>
                </div>
                <div class="12u$">
                  <input type="checkbox" id="refr" name="own">
                  <label for="refr">I have a refrigerator</label>
                </div>

                <div class="12u$">
                  <input type="submit" class="btn btn-default" value="Submit">
                  <div id="map"></div>
                </div>
              </div>
          </form>
        </div>
      </div>

    <script src="static/assets/js/index.js"></script>

{% include 'footer.html' %}
