{% include 'header.html' %}
		<!-- Banner -->
			<section id="banner">
        <img src="static/images/favicon.png">
        <h2>Energy Report</h2>
			</section>

		<!-- Main -->
			<div id="main" class="container">

				<!-- Individual Report -->
          <h2>Individual Report</h2>
					<div class="row">
						<section class="7u 12u$(small)">
              <h3>Your usage amount</h3>
              <div class="eusage">
                <h4>{{ ind_mean }} kWh (Your predicted usage)</h4>
                <h4>{{ user_mean }} kWh (Your actual usage)</h4>
              </div>
						</section>

						<section class="5u$ 12u$(small)">
							<h3>Your usage grade</h3>
              <div class="ind-grade">{{ ind_grade }}</div>
              {% if ind_grade == "A" %}
                <h4>Why you got an A</h4>
                <p>You were in the top 20% percentile.</p>
              {% elif ind_grade == "B" %}
                <h4>Why you got a B</h4>
                <p>You were in the top 50% percentile.</p>
              {% elif ind_grade == "C" %}
                <h4>Why you got a C</h4>
                <p>You were in the top 80% percentile.</p>
              {% else %}
                <h4>Why you got an D</h4>
                <p>You were in the bottom 20% percentile.</p>
              {% endif %}
						</section>

						<section class="6u 12u$(small)">
              <h3>Individual vs Community Energy Usage</h3>
              <div id="ind_comm"></div>
            </section>

						<section class="6u$ 12u$(small)">
              <h3>Individual vs National Energy Usage</h3>
              <div id="ind_national"></div>
            </section>
					</div>

				<hr class="major" />

				<!-- Community Report -->
          <h2>Community Report</h2>
					<div class="row">
            <div class="12u$ 12u$(small)">
              <h3>Community vs National Energy Usage</h3>
              <div id="comm_national"></div>
            </div>
            <div id="community-map" class="12u$"></div>
            <div>Your community: {{ puma_name }}</div>
          </div>

				<hr class="major" />

				<!-- Predictive Report -->
          <h2>Predictive Report</h2>
					<div class="row">
          </div>

			</div>
    <script src="static/assets/js/report.js"></script>
{% include 'footer.html' %}
